* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
  color: #FFFFFF;
  font-weight: 300;
}

body {
  background-color: #2C3E50;
}

.todo-list {
	width: 90%;
	margin: 20px auto;
}


.todo-item {
  background: transparent;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #D35400;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}

.btn-override {
	width: 60px;
  border: none;
  cursor: pointer;
  outline: none;
	position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.btn-override:hover {
  width: 90px;
}

.btn-done {
	background: #D35400;
	color: #ffffff;
}

.btn-submit, .btn-submit {
	background: #D35400;
	border: none;
	border-radius: 0;
  transition:all 0.3s ease;
}

.btn-submit:hover {
	background: #D35400;
	-webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #D35400;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}